[commands]

html_compile_cmd = jade ${dst_path}
script_compile_cmd = coffee -c ${script_path}
styles_compile_cmd = 
sync_cmd = rsync -a "${src_path}" "${dst_path}"

# the following are Mac-specific
alt_view_url_cmd = "/etc/alternatives/www-browser" "${url}" 
view_url_cmd = "chromium-browser" --disk-cache-size=1 --media-cache-size=1 --allow-file-access-from-files "${url}"
