body {
  font: 10px sans-serif;
}

.rule line {
  stroke: #eee;
  shape-rendering: crispEdges;
}

.rule line.axis {
  stroke: #000;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

circle.line {
  fill: #fff;
}

.tick_label {
   font: 12px sans-serif;
}

.range_frame{
  stroke-width: 1px;
  stroke: black;
}

.minor_tick{
    stroke-width: 0.75px;
}

.plot_area{
    display:absolute;
    width:100%;
    height:100%;
}


.line1 {    
  stroke: steelblue;
}

.line2 {
  stroke: red;
}